
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


html, body{
	padding: 0px; margin: 0px;
	height:100%; width:100%;
	overflow-x: hidden; 
  background-color: #BDB6B0; 
}

.borderStyle{
  border: solid 8px white;
}
.navbar-default{
  background: rgba(0,0,0,0);
  margin-bottom: -8px;
}
.navbar .navbar-collapse{ /* div wrapping ul */
  text-align: center;
}
.navbar .navbar-nav{  /* ul */
  display: inline-block;
  float: none;
  vertical-align: bottom;
}
.navbar .navbar-nav > li{
  margin: 0 30px;
}
.navbar .navbar-nav > li > a{ /* a */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  color: white;
}
#banner{
  background: rgba(0,0,0,0.3);
  position: relative;
  height: 400px;
}
#blogName{
  background-color: #BDB6B0;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  height: 50%;
  top:50%;
  width: 50%;
  text-align: center;
}
#blogName > h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
 
  font-size: 5vw;
  color: white;
  line-height: 184px; /* vertical center 200 - 8*2 */
  margin: auto; /* horizontal center */
}




















